{{>layout/header}}

{{#project}}
    <div class="row text-center">
        <div class="col-12">
            <h3>{{title}}</h3>
            <label>제작자 : {{email}}</label>
            <br>
            <label>태그 : {{tag}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <img width=700 height=500 src="{{picture}}">
        </div>
        <div class="col-4">
            <div>
                <label><small>모인금액</small></label>
                <div>
                    <label style="font-size: 2em;">{{currentFunding}}</label>원
                </div>
                <label>{{percentage}}%</label>
            </div>
            <br>
            <div>
                <label><small>마감 시간</small></label>
                <div>
                    <label style="font-size: 2em;">{{endDate}}</label>
                </div>
            </div>
            <br>
            <div>
                <label><small>후원자</small></label>
                <div>
                    <label style="font-size: 2em;">{{#donate}}{{donate}}{{/donate}}</label>명
                </div>
            </div>
            <div>
                <a href="/project/funding/?id={{id}}&title={{title}}" class="btn btn-outline-primary">후원하기</a>
            </div>

        </div>
    </div>

    <div class="row" style="padding-left: 30px; padding-right: 30px;">
        {{content}}
    </div>
{{/project}}
</div>

{{>layout/footer}}