{{>layout/header}}

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/main">벅블텀</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/all">모든 프로젝트 보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project/post">프로젝트 등록</a>
                </li>
                <li class="nav-item">
                    {{#name}}
                        Logged in as: <span id="user">{{name}}</span>
                        <a class="nav-link" href="/logout" role="button">Logout</a>
                    {{/name}}
                    {{^name}}
                        <a class="nav-link" href="/oauth2/authorization/google">Login</a>
                    {{/name}}
                </li>
            </ul>
        </div>
    </nav>

    <hr>

    <form>
        <div class="form-group">
            <label for="projectTitle">제목</label>
            <input type="text" class="form-control" id="projectTitle" placeholder="제목을 입력해라">
        </div>

        <div class="form-group">
            <label for="projectPicture">사진</label>
            <input type="text" class="form-control" id="projectPicture" placeholder="사진을 넣어라">
        </div>

        <div class="form-group">
            <label for="projectContent">내용</label>
            <textarea class="form-control" id="projectContent" rows="4" placeholder="내용을 입력해라"></textarea>
        </div>

        <div class="form-group row">
            <label for="goalFunding" class="col-2 col-form-label">목표 금액</label>
            <div class="col-5 offset-4">
                <input class="form-control" type="number" id="goalFunding" placeholder="1,000,000">
            </div>
            <label for="goalFunding" class="col-1 col-form-label">원</label>
        </div>

        <div class="form-group row">
            <label for="projectEndDate" class="col-2 col-form-label">끝나는 날짜</label>
            <div class="col-10">
                <input class="form-control" type="date" id="projectEndDate">
            </div>
        </div>

        <div class="row text-center">
            <div class="col-3">
                <h4>카테고리 선택</h4>
            </div>

            <div class="col-3 offset-6 dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    카테고리 선택
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" onclick="setDropdownCategory(this)">GAME</a>
                    <a class="dropdown-item" href="#" onclick="setDropdownCategory(this)">CONCERT</a>
                    <a class="dropdown-item" href="#" onclick="setDropdownCategory(this)">DESIGN</a>
                    <a class="dropdown-item" href="#" onclick="setDropdownCategory(this)">CARTOON</a>
                    <a class="dropdown-item" href="#" onclick="setDropdownCategory(this)">CRAFT</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <button type="button" class="offset-10 col-1 btn btn-outline-danger" id="btn-save">Submit</button>
        </div>
    </form>

</div>

<script>
        function setDropdownCategory(obj){
          var text = obj.innerText;
          $('#dropdownMenuButton').text(text);
        }
</script>

<script>
var main = {

    init : function(){
        var _this = this;
        $('#btn-save').on('click', function(){
        _this.save();
        });
    },
    save : function(){
        var data = {
          title: $('#projectTitle').val(),
          content: $('#projectContent').val(),
          goalFunding: $('#goalFunding').val(),
          endDate: $('#projectEndDate').val(),
          picture: $('#projectPicture').val(),
          str_tag: $('#dropdownMenuButton').text(),
          currentFunding : 0,
          percentage : 0
        };

        $.ajax({
            type: 'POST',
            url: '/api/v2/save',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function(){
            alert('글이 등록되었습니다.');
            window.location.href= '/';
        }).fail(function(error){
            alert(JSON.stringify(error));
        });
    }
};

main.init();

      </script>

</body>
</html>